.vscode
*.code-workspace
.pytest_cache
.mypy_cache
.hypothesis
__pycache__
Digraph*
.ipynb_checkpoints
junit
junit
coverage.xml
**/.coverage
dist
**/*.pyc
docs/_build
.idea/
pytype_output
htmlcov
.ipython
.jupyter
.cache
.local
.testmondata
Demo.py
*.gv
*.gv.pdf
*.prof
tmp.py
.DS_Store
Untitled*.ipynb
explorations/Untitled*.ipynb